# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Project specific folders (if they are dynamically generated or very large)
datasets/
trainer/

# VSCode or other IDEs
.vscode/
.idea/
*.swp





# git add .
# git commit -m "Initial commit"
# git remote add origin https://github.com/trinath06183/facial_attendance_web.git
# git branch -M main
# git push -u origin main



# git add .
# git commit -m "Initial commit"
# git remote add origin https://github.com/trinath06183/facial_attendance_web.git
# git branch -M main
# git push -u origin main